BOT_TOKEN=
TRANSAK_API_KEY=
TRANSAK_API_SECRET=
TREASURY_WALLET=0x57f333c398c9625D84432aBD00871E2d8049cAaC
REFERRER_DOMAIN=https://frontemeridionale.github.io
BOT_TOKEN=
TRANSAK_API_KEY=
TRANSAK_API_SECRET=
TREASURY_WALLET=0x57f333c398c9625D84432aBD00871E2d8049cAaC
REFERRER_DOMAIN=https://frontemeridionale.github.io
TRANSAK_REFRESH_TOKEN_URL=
TRANSAK_CREATE_WIDGET_URL=
